<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/GimhaniU/GarmentFactory.git">Garment factory management system-2016 </a></strong>
			- A Java based application for a traditional clothing factory to facilitate employee management, stock management and production progress reporting.
			Technologies: Java, MySQL, jasper reports
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Nuwantha/LandAdministrationSystem.git">Land Branch management system-2015 </a></strong>
			- A complete networked application for land branch of Divisional Secretariat office at Weligama(currently deployed).
			Technologies used: Java RMI, MySQL
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Grade 1 admission system for schools under Ministry of Education-2015</a></strong>
			- Web based application  to collect details of student applicants and automate the tasks of recognising the relevant school for each student.
			Technologies used: PHP(Laravel), MySQL, Javascript,CSS(Bootstrap
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/GimhaniU/DrivingSchoolManagementSystem.git">Driving school management system-2013 </a></strong>
			- A complete desktop application for a driving school to manage students, instructors and payments
			Technologies used : Java, MySQL,Jasper reports
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Little Calc-2014</a></strong>
			- A spreadsheet application using Java and Jasper reports
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Nuwantha/BusRouteDetector.git">Bus Route Guide App-2015</a></strong>
			- A simple application to search for different bus routes  from a given 2 end points
			Technologies used: Java, MySQL
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Tic-tac-toe game development-2015 </a></strong>
			- Capable of playing with 2 individuals in same machine, 1 individual and the machine and 2 individuals in remote machines.
			Technologies used: Java, MySQL,Swing
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/GimhaniU/TankGame.git">Tank client- Combat coders-2015</a></strong>
			- Creating the GUI and AI for a tank client to play with the given server implementation.
			Technologies used: Java, Slick 2d game library, Wordpress
		</h5>


    </div>
  </div>
</div>
</section>
